@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: "Roboto", serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #c9c9c9;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.btn-language {
  padding-left: 8px;
  padding-right: 8px;
  height: 80px;
  color: #4E5968;
  background-color: #FFFFFF;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
}

.project-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  font-size: 32px;
  font-weight: 700;
}

.project-list-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-area {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 4999;
}
.project-area .common-inner {
  display: flex;
  flex-direction: column;
}
.project-area .common-inner .title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-area .common-inner .title-area .title {
  line-height: 140px;
  text-align: center;
  font-size: 96px;
  font-weight: 700;
}
.project-area .common-inner .title-area .description {
  line-height: 60px;
  font-size: 40px;
  font-weight: 700;
}
.project-area .common-inner .title-area .description .eng {
  font-family: "Roboto", serif;
}
.project-area .common-inner .title-area .description .kr {
  font-family: "Noto Sans KR", serif;
}

.header-area {
  top: 0;
  display: flex;
  justify-content: center;
  height: 120px;
  width: 100%;
  border-bottom: 1px solid rgba(137, 140, 142, 0.85);
  font-family: "Roboto", serif;
  z-index: 5000;
}
.header-area .nav-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 1200px;
}
.header-area .nav-area .nav-bar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-area .nav-area .nav-bar-left .img-wrapper {
  margin-right: 40px;
}
.header-area .nav-area .nav-bar-left .nav-item-wrapper .nav-item-set {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
}
.header-area .nav-area .nav-bar-left .nav-item-wrapper .nav-item-set .nav-item {
  font-size: 20px;
  color: #4E5968;
  padding-left: 16px;
  padding-right: 16px;
}
.header-area .nav-area .nav-bar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0;
  width: 130px;
  height: 80px;
}

.sub-nav-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-top: 28px;
  padding-bottom: 28px;
  width: 100%;
}
.sub-nav-area .sub-nav-item {
  width: 150px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #4E5968;
}
.sub-nav-area .sub-nav-blank {
  width: 30px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF;
}

.common-inner {
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */