// BORDER

// BACKGROUND
$block-color-bg1 : #FFFFFF;
$block-color-bg2 : #B2B2B2;
$block-color-bg3 : #898C8E;
$block-color-bg4 : #F2F4F6; //sub-nav-active

// TEXT
$block-color-text1 : #000000;
$block-color-text2 : #4E5968;
$block-color-text3 : #0E4A84;