.main-about-area {
  //   position: relative;
  //   display: flex;

  //   align-items: flex-start;
  //   width: 1920px;
  //   height: 1080px;
  //   z-index: 4999;
  height: auto;
  background: $block-color-bg1;
  display: relative;
  justify-content: space-between;
  flex-direction: column;
  margin: 5rem;
  .common-inner {
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;

    .image-area {
      width: 100%;
      height: 12rem;
      background-image: url(/public/images/Logo-Circle.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 10rem;
    }
    .text-area {
      display: flex;
      flex-direction: column;
      align-items: left;
      text-align: center;
      gap: 2rem;
      .title {
        font-size: 4rem;
        font-weight: 300;
        font-family: $font-eng;
        color: $block-color-text1;
      }
      .description {
        font-size: 1rem;
        font-weight: 500;
        font-family: $font-kr;
        color: $block-color-text2;
      }
    }
  }
}
