@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: "Roboto", serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #c9c9c9;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.btn-language {
  padding-left: 8px;
  padding-right: 8px;
  height: 80px;
  color: #4E5968;
  background-color: #FFFFFF;
}

.main-title-area {
  height: auto;
  background: #FFFFFF;
  display: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin: 3rem 6rem 0rem;
}
.main-title-area .common-inner {
  width: 100%;
}
.main-title-area .common-inner .title-area {
  display: flex;
  flex-direction: column;
}
.main-title-area .common-inner .title-area .slogan {
  margin-left: 0.5rem;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Roboto", serif;
  color: #4E5968;
}
.main-title-area .common-inner .title-area .title {
  font-size: 12rem;
  font-weight: 700;
  font-family: "Roboto", serif;
  color: #0E4A84;
}
.main-title-area .common-inner .about-area {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main-about-area {
  height: auto;
  background: #FFFFFF;
  display: relative;
  justify-content: space-between;
  flex-direction: column;
  margin: 0rem;
}
.main-about-area .common-inner {
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
}
.main-about-area .common-inner .image-area {
  width: 100%;
  height: 12rem;
  background-image: url(/public/images/Logo-Circle.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10rem;
}
.main-about-area .common-inner .text-area {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
  gap: 2rem;
}
.main-about-area .common-inner .text-area .title {
  font-size: 4rem;
  font-weight: 300;
  font-family: "Roboto", serif;
  color: #000000;
}
.main-about-area .common-inner .text-area .description {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Noto Sans KR", serif;
  color: #4E5968;
}

.main-content {
  height: auto;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 6rem;
}
.main-content .left-content-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35rem;
}
.main-content .right-content-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18rem;
}

.main-gallery {
  height: auto;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-gallery .main-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-gallery .gallery-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-gallery .gallery-text .text-title {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Noto Sans KR", serif;
}
.main-gallery .gallery-text .text-body {
  color: #4E5968;
  font-size: 1rem;
  font-weight: 100;
  font-family: "Noto Sans KR", serif;
}
.main-gallery .gallery-link-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.link-btn {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.link-btn .link-text {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", serif;
  color: #4E5968;
}

.link-image {
  display: block;
  margin: auto auto auto 0px;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.big-link-btn {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.big-link-btn .big-link-text {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Roboto", serif;
  color: #4E5968;
}
.big-link-btn .big-link-image {
  display: block;
  margin: auto auto auto 0px;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-item {
  background: #FFFFFF;
  width: 16em;
  border-radius: 0;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0.8rem 1.7rem -0.3rem hsla(240deg, 30.1%, 28%, 0.25), 0 -0.5rem 1rem -0.5rem hsla(0deg, 0%, 0%, 0.3), 0 -0.375rem 1rem -0.375rem hsla(0deg, 0%, 0%, 0.03);
  transition: all ease 200ms;
  display: flex;
  flex-flow: column;
}
.cards-item:hover {
  transform: scale(1.03);
  box-shadow: 0 0.8rem 2.5rem -0.3rem hsla(240deg, 30.1%, 28%, 0.12), 0 0.5rem 2rem -0.5rem hsla(0deg, 0%, 0%, 0.14), 0 -0.4rem 2rem -0.4rem hsla(0deg, 0%, 0%, 0.02);
}
.cards-item .item-link {
  text-decoration: none;
}
.cards-item .item-link .link-card {
  width: 16rem;
}
.cards-item .item-link .link-card .card-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-item .item-link .link-card .card-body {
  padding: 1.2em;
  text-align: start;
}
.cards-item .item-link .link-card .card-body .body-title {
  color: #222;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 700;
  transition: all ease-in 100ms;
}
.cards-item .item-link .link-card .card-body .body__authorDate {
  color: #bbb;
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  margin: 1.4em 0 0 0;
  text-transform: uppercase;
  padding: 0 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
}

.card {
  margin: auto;
  background: #fefefe;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 28rem;
  height: 12rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 30px;
}
.card .card-layout {
  display: inline-block;
  margin-right: 20px;
}
.card .card-layout .card-layout-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: -webkit-clip-path 1s ease;
  padding: 0.75rem 2rem;
  overflow: hidden;
  border-radius: 5px;
  gap: 1rem;
  text-align: left;
}
.card .card-layout .card-layout-content .card-layout-content-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.2rem;
  gap: 1rem;
}
.card .card-layout .card-layout-content .card-layout-content-name .card-layout-content-name-eng {
  font-weight: 500;
}
.card .card-layout .card-layout-content .card-layout-content-name .card-layout-content-name-kor {
  font-size: 1.4rem;
  font-weight: 300;
}
.card .card-layout .card-layout-content .card-layout-content-contact {
  color: #bbb;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.04em;
  margin: 0 0 0.75rem;
  text-transform: uppercase;
  padding: 0 0;
}
.card .card-layout .card-layout-content .card-layout-content-description {
  width: 24rem;
  height: 3rem;
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0 0 0.75rem;
  word-wrap: break-word;
}
.card .card-layout .card-layout-content .card-layout-content-social {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  gap: 0.75rem;
}
.card .card-layout .card-layout-content .card-layout-content-social i {
  color: #bbb;
}
.card .card-layout .card-layout-content .card-layout-content-social:disabled {
  display: none;
}

.project-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  font-size: 32px;
  font-weight: 700;
}

.project-list-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-area {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 4999;
}
.project-area .common-inner {
  display: flex;
  flex-direction: column;
}
.project-area .common-inner .title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-area .common-inner .title-area .title {
  line-height: 140px;
  text-align: center;
  font-size: 96px;
  font-weight: 700;
}
.project-area .common-inner .title-area .description {
  line-height: 60px;
  font-size: 40px;
  font-weight: 700;
}
.project-area .common-inner .title-area .description .eng {
  font-family: "Roboto", serif;
}
.project-area .common-inner .title-area .description .kr {
  font-family: "Noto Sans KR", serif;
}

.scroll-container {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1;
}
.scroll-container .scroll-container-top {
  font-weight: bold;
  font-size: 15px;
  width: 2rem;
  height: 2rem;
  background-color: #D9D9D9;
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.scroll-container .scroll-container-top:hover {
  color: #0E4A84;
}

.footer {
  background-color: #898C8E;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 7.5rem;
  gap: 1rem;
  padding: 0 10vw 0 10vw;
  position: relative;
  z-index: 0;
}
.footer .footer-content {
  overflow: hidden;
  color: #000000;
  max-width: 120rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 4rem;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
@media (min-width: 48em) {
  .footer .footer-content {
    transform: none;
    gap: 0.5rem;
    background: transparent;
    width: auto;
    position: static;
    align-items: center;
  }
}
.footer .footer-content .footer-content-left .footer-content-logo {
  display: flex;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 10px;
}
.footer .footer-content .footer-content-textWrap {
  display: none;
}
.footer .footer-content .footer-content-textWrap .name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #000000;
}
.footer .footer-content .footer-content-textWrap .slogan {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: #000000;
}
@media (min-width: 48em) {
  .footer .footer-content .footer-content-textWrap {
    display: inline;
  }
}
.footer .footer-content .footer-content-blank {
  height: 1rem;
  width: 30vw;
  display: none;
}
@media (min-width: 48em) {
  .footer .footer-content .footer-content-blank {
    display: inline;
  }
}
.footer .footer-content .footer-content-socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
}
.footer .footer-content .footer-content-socialIcons i {
  color: #FFFFFF;
  width: 2rem;
  height: 2rem;
  align-items: center;
}

.header-area {
  top: 0;
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid rgba(137, 140, 142, 0.85);
  font-family: "Roboto", serif;
  z-index: 5000;
}
.header-area .hy-logo-property {
  height: 4rem;
  width: 4rem;
}
.header-area .meta-logo-property {
  display: block;
  height: 2rem;
  width: 2rem;
  margin: 0rem auto;
}
.header-area .nav-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25rem;
}
.header-area .nav-area .nav-bar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9rem;
}
.header-area .nav-area .nav-bar-left .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-area .nav-area .nav-bar-left .img-wrapper .img-item {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0E4A84;
}
.header-area .nav-area .nav-bar-left .nav-item-wrapper .nav-item-set {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 4rem;
  gap: 3.5rem;
}
.header-area .nav-area .nav-bar-left .nav-item-wrapper .nav-item-set .nav-item {
  position: relative;
  font-size: 1rem;
  color: #4E5968;
  cursor: pointer;
}
.header-area .nav-area .nav-bar-left .nav-item-wrapper .nav-item-set .nav-item:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0.01rem;
  width: 0%;
  height: 0.1rem;
  background: #4E5968;
  transition: all 0.5s;
}
.header-area .nav-area .nav-bar-left .nav-item-wrapper .nav-item-set .nav-item:hover:after {
  left: 0%;
  width: 100%;
}
.header-area .nav-area .nav-bar-left .nav-item-wrapper .nav-item-set .nav-item:hover {
  color: #000000;
  letter-spacing: -0.0008em;
  transition: 0.5s;
}
.header-area .nav-area .nav-bar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.sub-nav-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-top: 28px;
  padding-bottom: 28px;
  width: 100%;
}
.sub-nav-area .sub-nav-item {
  width: 150px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #4E5968;
}
.sub-nav-area .sub-nav-blank {
  width: 30px;
}

.main {
  height: 100%;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.Article {
  height: auto;
  background: #FFFFFF;
  display: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin: 3rem;
  gap: 2rem;
}
.Article .Article-title {
  width: 100%;
  gap: 0;
  margin-top: 10vh;
  padding: 0.5rem 0.5rem;
}
.Article .Article-title .title-Main {
  font-size: 3rem;
}
.Article .Article-title .title-Sub {
  font-size: 1.5rem;
}
.Article .Article-subNavigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 1rem 0;
  gap: 2.5rem;
}
.Article .Article-subNavigation .subNavigation-wrap1 {
  width: 8rem;
  height: 2rem;
}
.Article .Article-subNavigation .subNavigation-wrap1 .wrap1-research {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 0;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  background-color: #F2F4F6;
}
.Article .Article-subNavigation .subNavigation-wrap1 .wrap1-research:disabled {
  background-color: #FFFFFF;
}
.Article .Article-subNavigation .subNavigation-wrap2 {
  width: 8rem;
  height: 2rem;
}
.Article .Article-subNavigation .subNavigation-wrap2 .wrap2-development {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 0;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  background-color: #FFFFFF;
}
.Article .Article-subNavigation .subNavigation-wrap2 .wrap2-development:disabled {
  background-color: #FFFFFF;
}
.Article .Article-container {
  align-items: center;
  max-width: 70rem;
  width: 100%;
}
.Article .Article-container .container__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 3rem 0 3rem;
}
.Article .Article-container .container__wrapper .wrapper-items {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  padding: 0 0 0 0;
  margin-bottom: 1.5rem;
  align-items: center;
}
@media (min-width: 48em) {
  .Article .Article-container .container__wrapper .wrapper-items {
    flex-flow: row;
    align-items: center;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF;
}

.common-inner {
  margin: 0 auto;
}

.Member {
  height: auto;
  background: #FFFFFF;
  display: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 3rem;
  gap: 2rem;
  font-family: "Inter", sans-serif;
}
.Member .Member-title {
  width: 100%;
  gap: 0;
  margin-top: 10vh;
  padding: 0.5rem 0.5rem;
  font-family: "Inter", sans-serif;
}
.Member .Member-title .Member-title-main {
  font-size: 3rem;
}
.Member .Member-title .Member-title-sub {
  font-size: 1.5rem;
}
.Member .Member-subNavigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 1rem 0;
  gap: 2.5rem;
}
.Member .Member-subNavigation .Member-subNavigation-wrap1 {
  width: 8rem;
  height: 2rem;
}
.Member .Member-subNavigation .Member-subNavigation-wrap1 .wrap1-current {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 0;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  background-color: #F2F4F6;
}
.Member .Member-subNavigation .Member-subNavigation-wrap1 .wrap1-current:disabled {
  background-color: #FFFFFF;
}
.Member .Member-subNavigation .Member-subNavigation-wrap2 {
  width: 8rem;
  height: 2rem;
}
.Member .Member-subNavigation .Member-subNavigation-wrap2 .wrap2-alumni {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 0;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  background-color: #FFFFFF;
}
.Member .Member-subNavigation .Member-subNavigation-wrap2 .wrap2-alumni:disabled {
  background-color: #FFFFFF;
}
.Member .Member-container {
  align-items: center;
  max-width: 70rem;
  width: 100%;
}
.Member .Member-container .Member-container-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 3rem 0 3rem;
}
.Member .Member-container .Member-container-wrapper .Member-container-wrapper-items {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  padding: 0 0 0 0;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
  align-items: center;
}
@media (min-width: 48em) {
  .Member .Member-container .Member-container-wrapper .Member-container-wrapper-items {
    flex-flow: row;
    align-items: center;
  }
}