// 남은 작업 : 커서 올렸을 때 글자 색 변화 및 애니메이션 스타일링 
.header-area {
    top: 0;
    display: flex;
    justify-content: center;
    height: 120px;
    width: 100%;
    border-bottom: 1px solid rgba(137, 140, 142, 0.85);
    font-family: $font-eng;
    z-index: 5000;
    
    .nav-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        min-width: 1200px;

        .nav-bar-left {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .img-wrapper {
                margin-right: 40px;
            }

            .nav-item-wrapper {

                .nav-item-set {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-left: 20px;
                    margin-right: 20px;
                    height: 80px;
                    
                    .nav-item {
                        font-size: 20px;
                        color: $block-color-text2;
                        padding-left: 16px;
                        padding-right: 16px;
                    }

                }
            }
        }

        .nav-bar-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 12px;
            margin-right: 12px;
            padding: 0;
            width: 130px;
            height: 80px;
        }
    }

}